/* Custom CSS for DataGrid header */

.custom-header .dx-header-row .dx-datagrid-text-content {
  color: white; /* White text color */
}

.button-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.custom-header .dx-datagrid-headers {
  background-color: rgb(45, 68, 241);
  color: white;
}
